{% extends 'business_side/index.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
KGS-BVDR &mdash; Blogs
{% endblock title%}

{% block home %}
<li class="nav-item">
  <a class="nav-link " href="{% url 'index' %}">Home</a>
</li>
{% endblock home %}

{% block blog %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'business-side:blogs' %}">Blog</a>
</li>
{% endblock blog %}

{% block index_body %}
<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/slider-1.jpg' %});">
      
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate">
            <h1>Blog</h1>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
            <p><a href="#" class="btn btn-white btn-outline-white px-3 py-3">Explore</a></p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- END slider -->

  <section>
    <div class="half d-md-flex d-block">
      <div class="image" style="background-image: url({% static 'images/slider-1.jpg' %})"></div>
      <div class="text text-center element-animate">
        <span class="post-meta">June 8, 2018</span>
        <h3 class="mb-4">More Templates at Colorlib</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempora inventore, aliquam ratione. Eum vero sapiente tempora eveniet perspiciatis libero, omnis quae facilis! Voluptatibus minima autem, esse eius natus labore.</p>
        <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Continue Reading</a></p>
      </div>
    </div>

    <div class="half d-md-flex d-block">
      <div class="image order-2" style="background-image: url({% static 'images/slider-2.jpg' %})"></div>
      <div class="text text-center element-animate">
        <span class="post-meta">June 8, 2018</span>
        <h3 class="mb-4">More Templates at Colorlib</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempora inventore, aliquam ratione. Eum vero sapiente tempora eveniet perspiciatis libero, omnis quae facilis! Voluptatibus minima autem, esse eius natus labore.</p>
        
        <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Continue Reading</a></p>
      </div>
    </div>

    <div class="half d-md-flex d-block">
      <div class="image" style="background-image: url({% static 'images/slider-1.jpg' %})"></div>
      <div class="text text-center element-animate">
        <span class="post-meta">June 8, 2018</span>
        <h3 class="mb-4">More Templates at Colorlib</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempora inventore, aliquam ratione. Eum vero sapiente tempora eveniet perspiciatis libero, omnis quae facilis! Voluptatibus minima autem, esse eius natus labore.</p>
        <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Continue Reading</a></p>
      </div>
    </div>

    <div class="half d-md-flex d-block">
      <div class="image order-2" style="background-image: url({% static 'images/slider-2.jpg' %})"></div>
      <div class="text text-center element-animate">
        <span class="post-meta">June 8, 2018</span>
        <h3 class="mb-4">More Templates at Colorlib</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempora inventore, aliquam ratione. Eum vero sapiente tempora eveniet perspiciatis libero, omnis quae facilis! Voluptatibus minima autem, esse eius natus labore.</p>
        
        <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Continue Reading</a></p>
      </div>
    </div>
    <a href="#" class="load-more">Load More</a>
  </section>

{% endblock index_body %}