{% extends 'business_side/index.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
KGS-BVDR &mdash; HACCP System Consultancy
{% endblock title%}


{% block home %}
<li class="nav-item">
    <a class="nav-link " href="{% url 'index' %}">Home</a>
</li>
{% endblock home %}


{% block services %}
active
{% endblock services %}


{% block index_body %}

<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/haccp_consultancy.jpg' %});">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1> HACCP System Consultancy</h1>
                    
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-8 mb-5">
          <p>A HACCP System requires that potential hazards are identified and controlled at specific points in the process. This includes biological, chemical or physical hazards. Any organization involved in the manufacturing, processing or handling of food products can use HACCP to minimize or eliminate food safety hazards.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 mb-5">
          <h2>&ldquo;Benefits&rdquo;</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8">
            <ol>
                <li> <p>Increased confidence in your products.</p></li>
                <li> <p>Ability to reach markets and customers that require a HACCP based system.</p></li>
                <li> <p>Reduced Liability.</p></li>
                <li> <p>Effective process management.</p></li>
                <li> <p>Improved quality and consistency.</p></li>
            </ol>

          
          <p><img src="{% static 'images/haccp_logo.jpg' %}" alt="Image" class="img-fluid"></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section border-t pb-0" id="fshhqa">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center">
          <h2 class=" heading mb-4">Check Our Awesome Services</h2>
          <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-bottom: 5%;">
      <div class="row no-gutters">
       
        <div class="col-md-4 element-animate">
          <a href="{% url 'business-side:services_iso22000' %}" class="link-thumbnail">
            <h3>ISO22000 Food Safety Management System Consultancy</h3>
            <span class="ion-plus icon"></span>
            <img src="{% static 'images/f_iso22000.jpg' %}" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
          <a href="{% url 'business-side:services_iso9001' %}" class="link-thumbnail">
            <h3>ISO 9001 Quality Management System Consultancy</h3>
            <span class="ion-plus icon"></span>
            <img src="{% static 'images/f_iso9001.jpg' %}" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
            <a href="{% url 'business-side:services_haccp_trainings' %}" class="link-thumbnail">
              <h3>HACCP Trainings</h3>
              <span class="ion-plus icon"></span>
              <img src="{% static 'images/f_haccp_trainings.jpg' %}" alt="Image" class="img-fluid">
            </a>
        </div>
    
      </div>
      
    </div>
  </section>

{% endblock index_body %}
