{% extends 'business_side/index.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
KGS-BVDR &mdash; Food Safety, Health Hygiene and Quality Assurance Service
{% endblock title%}

{% block custom_css %}
<style>
h1 {
    margin-top: 15%;
    
}
.slider-item { 
    min-height: 750px !important;
}
</style>
{% endblock custom_css %}

{% block home %}
<li class="nav-item">
    <a class="nav-link " href="{% url 'index' %}">Home</a>
</li>
{% endblock home %}


{% block services %}
active
{% endblock services %}


{% block index_body %}

<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/fs-slider1.jpg' %});">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>Food Safety, Health Hygiene and Quality Assurance</h1>
                    <p class="mb-5 sub-text">
                        The food industry is under great pressure to produce safe and quality food and beverage products. To ensure that these products are prepared, served without any contamination and safe for consumption, these industries have to effectively implement food safety standards, rules, and regulations at the same time maintaining business competency and consumer trust by acquiring international food safety certification.</p>
                    <p><a href="#fshhqa" class="btn btn-white btn-outline-white px-4 py-3">Explore</a></p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section border-t pb-0" id="fshhqa">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center">
          <h2 class=" heading mb-4">Check Our Awesome Services</h2>
          <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-bottom: 5%;">
      <div class="row no-gutters">
        <div class="col-md-3 element-animate">
          <a href="{% url 'business-side:services_haccp' %}" class="link-thumbnail">
            <h3>HACCP System Consultancy</h3>
            <span class="ion-plus icon"></span>
            <img src="{% static 'images/f_haccp.jpg' %}" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3 element-animate">
          <a href="{% url 'business-side:services_iso22000' %}" class="link-thumbnail">
            <h3>ISO22000 Food Safety Management System Consultancy</h3>
            <span class="ion-plus icon"></span>
            <img src="{% static 'images/f_iso22000.jpg' %}" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3 element-animate">
          <a href="{% url 'business-side:services_iso9001' %}" class="link-thumbnail">
            <h3>ISO 9001 Quality Management System Consultancy</h3>
            <span class="ion-plus icon"></span>
            <img src="{% static 'images/f_iso9001.jpg' %}" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3 element-animate">
            <a href="{% url 'business-side:services_haccp_trainings' %}" class="link-thumbnail">
              <h3>HACCP Trainings</h3>
              <span class="ion-plus icon"></span>
              <img src="{% static 'images/f_haccp_trainings.jpg' %}" alt="Image" class="img-fluid">
            </a>
        </div>
    
      </div>
      
    </div>
  </section>

{% endblock index_body %}